body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-preview{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
}

.image-preview img {
  width:300px;
  height: 300px;
  object-fit: cover;
}

.images-preview-container{
  display: flex;
  justify-content:left;
}


.close-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
}

.close-icon:hover{
  cursor: pointer;
  color:red;
} */


.card {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.container {
  padding: 2px 16px;
} 

img {
  border-radius: 5px 5px 0 0;
}